.container{
    background-color: aqua;
    padding: 10px;
    margin: 1%;
    height: 600px;
    border-radius: 3%;
}

.logo{
    background-color: blue;
    height: 20%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.informacoes{
    border: 2px solid blueviolet;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.adicionaDados{
    border:2px solid green;
    height: 30%;
    margin-top: 1px;
    display: flex;
}

.logo h1{
   color: white;
    
}
.cards{
    display: flex;
    flex-flow: column;
    margin-top: 1%;
    border: 5px solid violet;
    width: 30%;
    margin-left: 1%;
    height: 70%;
    margin-right: 1%;
    justify-content: center;
    align-items: center;
    
}
.item-infor{
 
    font-size: 20px;
    background-color: blue;
    color: white;
    width: 100%;
    text-align: center;
}
.item-total{
 background-color: white;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
align-items: center;
font-size: 200%;
}
.dados{
    border: 2px solid red;
    text-align: center;
     width: 45%;
}
input{
    height: 40px;
    width: 18%;
    margin-left: 1%;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    color: black;
}

#descricao{
width: 45%;
}

#valor{
width: 20%;
}

label{
margin-left: 2%;
}
#botao{
background-color: blue;
height: 20%;
width: 50%;
border: none;
cursor: pointer;
}
.item{
border: 4px solid white;
height: 30%;
width: 90%;
margin: 4%;
display: flex;
flex-flow:row wrap ;
flex-wrap: nowrap;

}
.valorDigitado{
border: 3px solid blue;
width: 30%;
text-align: center;
font-size: 200%;
padding-top: 2px;
background-color: white;
}
.descricaoDigitada{
border: 3px solid blue;
width: 1%;
flex-grow: 1;
padding-top: 2px;
font-size: 200%;
text-align: center;
background-color: white;
}
.bt{
background-color: red;
width:  13%;
border: 3px solid red;
margin: 1px;
text-align: center;
cursor: pointer;
}
#remuneracao {
 width: 50%;
 font-size:  2rem;
}

main{
border: 3px solid red;

width: 55%;
overflow: auto;
}